  <p>(this will be the checkout page; will need to clear order_id from session after order placed,
    as well as update completed_order column in orders table, and list completed order
    on orders.erb)</p>
